html, body, div, label, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend, p, blockquote, th, td, img, textarea
{
	border: 0px;
	margin: 0px;
	outline: 0px;
	padding: 0px;
}

fieldset, img {
	border: 0;
}

img {
	display: inline-block;
}

:focus {
	outline: 0;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

em, i, u {
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

abbr, acronym {
	border: 0;
	font-variant: normal;
}

input, button, textarea, select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

code, kbd, samp, tt {
	font-size: 100%;
}

input, button, textarea, select {
	*font-size: 100%;
	font-family: "Microsoft YaHei";
}

ol, ul {
	list-style: none outside none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th {
	text-align: left;
}

:link, :visited, ins {
	text-decoration: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
div {
	display: block;
}

a:hover {
	color: #c40000
}

html, body {
	margin: 0;
	padding: 0;
	color: #666;
	font-size: 12px;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, STHeiti;
	letter-spacing: 0px;
	height: 100%;
	width: 100%;
}

.frame {
	border: 1px solid #ddd
}

.left {
	float: left
}

.right {
	float: right
}

.fl {
	float: left
}

.fr {
	float: right
}

.center {
	text-align: center
}

.relative {
	position: relative
}

.marginbottom {
	margin-bottom: 20px;
}

.clearfix:after, .p-price:after, ul:after, li:after {
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
	clear: both;
	font-size: 0;
	line-height: 0;
}

.top, .header, #mian, #user, .Menu_style {
	width: 1200px;
	margin: 0 auto;
	position: relative
}

.index_style, .Inside_pages, .user_style, .footerbox {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

.clearfix dd {
	width: 100px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: block;
}

.left_style {
	width: 220px;
	margin-right: 10px;
	float: left
}

.right_style {
	width: 960px;
	float: right;
	_display: inline;
	_overflow: hidden;
}

.Slide_style {
	height: 645px;
	position: relative;
}

.Menu_style {
	z-index: 1111;
	top: 0px;
}

#top {
	height: 30px;
	background: #f9fafa;
	border-bottom: 1px solid #D7D7D7;
	line-height: 30px;
}

#top .Collection {
	float: left;
}

#top .Collection a {
	color: #666666
}
/* #top .Collection a:hover{ color:#FF9900} */
#top .Collection em {
	background: url(../images/icon_10.png) no-repeat 7px 4px;
	height: 16px;
	width: 16px;
	padding: 5px 10px;
	margin-right: 5px;
}

#top .hd_top_manu {
	float: right;
	padding-top: 5px;
	line-height: 21px;
	margin-right: 10px;
}
/* #top .clearfix .zhuce{ color:#C9C9C9;} */
#top .clearfix .zhuce .red {
	color: #c40000;
	padding: 0px 5px;
}

#top .hd_top_manu li.hd_my_order, #top .hd_top_manu li.hd_menu_tit {
	z-index: 100;
	float: left;
	padding: 0 9px;
	background: url(../images/indexhead_sprite.png?1379671) no-repeat right
	-85px;
	position: relative;

}

#top.hd_Shopping_list li .Operations .Price {
	color: #FF0000;
	font-weight: bold
}

#top .hd_top_manu li.hd_menu_hover {
	background: #FFF;
}

#top .hd_top_manu li.hd_menu_tit .hd_menu_list {
	display: block;
}

.hd_menu_list ul {
	text-align: center;
}

#top .hd_top_manu li.hd_menu_tit a.hd_menu {
	display: block;
	float: left;
	height: 14px;
	line-height: 14px;
	padding: 5px 18px 4px 0;
	background: url(../images/indexhead_sprite.png?1379671) no-repeat right
	-35px;
}

#top .hd_top_manu li.hd_menu_hover a.hd_menu {
	display: block;
	padding-right: 18px;
	background: url(../images/indexhead_sprite.png?1379671) no-repeat right
	-5px;
}

#top .hd_top_manu li.hd_menu_tit .hd_menu_list {
	position: absolute;
	display: none;
	z-index: 1;
	margin-left: -10px;
	padding-top: 21px;
	border: 1px solid #CCC;
}

#top .hd_top_manu li.phone_c {
	margin-top:2px;
	border-top: 1px solid #F9FAFA;
	border-left: 1px solid #F9FAFA;
	border-right: 1px solid #F9FAFA;
}

#top .hd_top_manu li.phone_c.hd_menu_hover {
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd
}

#top .hd_top_manu li.hd_menu_tit .hd_menu_list li {
	padding-left: 6px;
	background: #FFFFFF;
	line-height: 24px;
}

#top .hd_top_manu li.hd_menu_tit .hd_menu_list {
	width: 100px;
}

#top .hd_top_manu li.hd_menu_tit .hd_menu_list.erweima {
	width: 220px;
	margin-top: 22px;
	left: -10px;
	border-top: 1px solid #fff;
	background: #FFF
}

#top .hd_top_manu li.hd_menu_tit .hd_menu_list.erweima img {
	padding: 10px;
}

#top .hd_top_manu li.hd_menu_tit .hd_menu_list.shoucang {
	width: 100px;
	margin-top: 19px;
	border-top: 1px solid #fff;
	background: #FFF
}

#top .clearfix .hd_menu_tit a {
	color: #666666;
	width:auto;
	border: #fff;
	height: 25px;
	line-height:16px;
}

#top .clearfix .hd_menu_tit a b {
	color: #FF0000;
	font-weight: bold
}

#top .clearfix .hd_menu_tit a:hover {
	color: #FF6600;
}

#top .shop_center {
	background: #C40000;
	border: 1px solid #C40000;
	padding: 3px 3px;
	border-radius: 5px;
	color: #fff
}

#top .shop_center:hover {
	opacity: 0.8;
	color: #fff
}

#top .Collection a {
	color: #fff
}

#top .shoucang_top {
	margin-top: -20px;
}

#top .Inside_pages .dingdan_icon {
	font-size: 13px;
	padding-right: 1px;
}

.shouj1{width:230px;height:230px;border:1px solid #ccc;border-top:none;position:absolute;left:-1px;top:30px;display:none;}
.shouji:hover .shouji1{display:block;background:#fff;}
.shouj4{width:80px;height:80px; margin-left:-130px;}
.shouj2{font-size:14px;color:#666;margin-top:-10px;position:absolute;top:14px;left:110px;}
.shouj2 p{height:22px;text-align:left;padding-top:4px;}
.red{color:red;font-size:12px;}
.shouj3{width:25px;height:28px;padding:10px 10px;}
.yi{width:220px;border-top:1px dashed #ccc;}
.er{font-size:14px;color:#666;position:absolute;top:130px;left:110px;}
.er p{height:22px;}
.header {
	height: 128px;
}

.header .logo {
	width: 259px;
	float: left;
	padding-top: 36px;
	height: 66px;
}

.header .logo img {
	max-width: 259px;
	max-height: 66px;
}

.header .Search {
	float: left;
	margin-top: 40px;
	position: relative;
	margin-left: 80px;
}

.header .Search .Words {
	margin-top: 5px;
}

.header .Search .Search_style {
	position: relative
}

.header .Search .Search_style i {
	display: block;
	position: absolute;
	/*background: url(../images/Search_img.png) no-repeat;*/
	width: 30px;
	height: 30px;
	top: 4px;
	left: 10px
}

.header .Search .Words a {
	color: #666666;
	padding: 0px 10px;
}

.header .Search .text {
	font-size: 12px;
	width: 450px;
	height: 32px;
	border: 3px solid #c40000;
	line-height: 24px;
	padding: 0px 0px 0px 40px;
	vertical-align: top;
}

.header .Search .Search_btn {
	background: #c40000;
	padding: 0px 30px;
	color: #fff;
	font-size: 16px;
	height: 38px;
	border: 0;
	vertical-align: top;
	margin-left: -6px;
	cursor: pointer;
}

.link_bg {
	display: block;
	position: absolute;
	right: 0px;
	bottom: 5px;
	height: 40px;
	text-align: center;
	width: 150px
}

.hd_Shopping_list {
	position: relative
}
.hd_Shopping_list .ci-count {
	position: absolute;
	top: -4px;
	left: 109px;
	display: inline-block;
	padding: 1px 2px;
	font-size: 12px;
	line-height: 12px;
	color: #FFF;
	background-color: #f53737;
	border-radius: 7px 7px 7px 0;
	min-width: 12px;
	text-align: center;
	font-style: normal;
}

.hd_Shopping_list .nogoods b {
	float: left;
	width: 56px;
	height: 49px;
	background-image: url(../images/settleup-nogoods.png);
}

.hd_Shopping_list .nogoods {
	padding-left: 30px;
	height: 49px;
	line-height: 49px;
	overflow: hidden;
	color: #999;
}

.hd_Shopping_list .s_cart .ci-right {
	top: 11px;
	right: 10px;
	width: 7px;
	height: 13px;
	overflow: hidden;
	font: 400 12px/12px simsun;
	color: #999;
	margin-left: 5px;
}

.hd_Shopping_list .dorpdown-layer {
	display: none;
	position: absolute;
}

.hd_Shopping_list.hover .s_cart {
	background: #FFFFFF
}

.hd_Shopping_list.hover .dorpdown-layer {
	display: block;
	right: 0;
	width: 315px;
	background: #FFF;
	border: 1px solid #DDD;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	z-index: 9999;
}

.hd_Shopping_list.hover .dorpdown-layer .spacer {
	position: absolute;
	right: 0;
	top: -7px;
	width: 146px;
	height: 12px;
	background: #FFF;
}

.hd_Shopping_list .prompt {
	padding: 10px 15px;
}

.p_s_tip {
	width: 160px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
/***********/
.hd_Shopping_list .Shopping_style {
	padding: 5px;
	overflow: hidden;
	text-align: right;
	background: #F5F5F5;
}

.hd_Shopping_list .Shopping {
	float: right;
	height: 29px;
	padding: 0 10px;
	background: #be0000;
	color: #FFF;
	text-align: center;
	font-weight: 700;
	line-height: 29px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.hd_Shopping_list .Shopping:hover {
	float: right;
	height: 29px;
	padding: 0 10px;
	background: #eb2e2e;
	color: #FFF;
	text-align: center;
	font-weight: 700;
	line-height: 29px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.hd_Shopping_list .p_s_list {
	margin: 10px;
}

.hd_Shopping_list li {
	border-bottom: 1px solid #D4D4D4;
	line-height: 24px;
}

.hd_Shopping_list li .Operations {
	float: right;
	text-align: right
}

.hd_Shopping_list li .img {
	text-align: center;
	margin-right: 10px;
	float: left;
}

.hd_Shopping_list li .content {
	float: left;
	color: #999999;
	width: 170px;
}

.hd_Shopping_list li .Price {
	color: #FF0000;
	width: 68px;
}

.hd_Shopping_list li div img {
	width: 40px;
	height: 40px;
	margin-top: 5px;
}

.hd_Shopping_list .Shopping_style .p-total {
	float: left;
	line-height: 29px;
}


.lanren-search-form {
	width: 575px;
	overflow: hidden;
	float: left;
	margin-left: 95px;
	margin-top: 30px;
}

.lanren-search-form .search-bd {
	height: 25px;
}

.lanren-search-form .search-bd li {
	font-size: 12px;
	width: 60px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	float: left;
	cursor: pointer;
	background-color: #fff;
	color: #666;
}

.lanren-search-form .search-bd li.selected {
	color: #fff;
	font-weight: 700;
	background-color: #B61D1D;
}

.lanren-search-form .search-hd {
	height: 40px;
	background-color: #e8000e;
	padding: 3px;
	position: relative;
  margin-top: 12px;
}

.lanren-search-form .search-hd .search-input {
	width: 490px;
	height: 38px;
	line-height: 33px;
	padding-top: 0px;
	background: none;
	text-indent: 10px;
	border: 0;
	outline: none;
	position: relative;
	left: 5px;
	top: 0;
	z-index: 5;
  margin-left: -10px;
}

.lanren-search-form .search-hd .btn-search {
	width: 70px;
	height: 34px;
	line-height: 34px;
	position: absolute;
	right: 3px;
	top: 3px;
	border: 0;
	z-index: 6;
	cursor: pointer;
	font-size: 16px;
	color: #fff;
	background: none;
	outline: none;
}

.lanren-search-form .search-hd .pholder {
	display: inline-block;
	padding: -5px 0;
	font-size: 12px;
	color: #999;
	position: absolute;
	left: -13px;
	top:9px;
	z-index: 4; /* background: url(../images/zoom.jpg) no-repeat 0 0; */
	padding-left: 25px;
    /*top: 11px;*/
}

.lanren-search-form .search-hd .s2, .lanren-search-form .search-hd #s2 {
	display: none;
}

.lanren-search-form .search-bg {
	width: 495px;
	height: 34px;
	background-color: #fff;
	position: absolute;
	left: 3px;
	top: 3px;
	z-index: 1;
}

#Menu {
	height: 44px;
	line-height: 44px;
}
#Menu .Category{
  background-color:#e81324;
}
#Menu .Category {
	font-size: 16px;
	color: #FFFFFF;
	padding: 0 15px 0 71px;
  font-weight: bold;
	line-height: 44px;
  width: 200px;
}

#allSortOuterbox {
	position: relative;
	left: 0;
	top: 0;
	z-index: 1000;/* 1210 */
	float: left;
	height: 46px;
}

#allSortOuterbox .t_menu_img {
	width: 290px;
	height: 7px;
	position: absolute;
	left: -2px;
	top: -7px;
}
.name{
  height: 32px;
}
.brand_title{
  /*line-height: 57px;*/
  font-size: 14px;
}
#allSortOuterbox .hd_allsort_out_box_new {
	position: absolute;
	top: 46px;
	left: 0;
	height: 382px;
	background: rgba(0,0,0,.4);
	clear: left;
	width: 200px;
	overflow: visible
}

#allSortOuterbox.display .hd_allsort_out_box_new {
	display: none
}

#allSortOuterbox.hover .hd_allsort_out_box_new {
	display: block
}

#allSortOuterbox .hd_allsort_out_box_new .Menu_list .name {
	padding-left: 2px;
	width: 206px;
}

#allSortOuterbox .hd_allsort_out_box_new .Menu_list .hover_nav.customize
{
	width: 206px;
}

#allSortOuterbox .hd_allsort_out_box_new .Menu_list .hover_nav {
	background: #FFFFFF;
	z-index: 222;
	width: 206px;
	border-left: 3px solid #121212;
}

#allSortOuterbox .hd_allsort_out_box_new .Menu_list .hover_nav .title_name
{
	width: 170px;
}

#allSortOuterbox .hd_allsort_out_box_new .Menu_list .Menu_name a {
	font-size: 14px;
	width: auto;
	border: 0px;
	text-align: left;
}
#allSortOuterbox .hd_allsort_out_box_new .Menu_list .Menu_name img{
  vertical-align: sub;
  margin-right: 10px;
}
#allSortOuterbox .hd_allsort_out_box_new .Menu_list .Menu_name .drop_down5{
  float: right;
  margin-top: 9px;
  margin-right: 0;
}
#allSortOuterbox .hd_allsort_out_box_new .Menu_list .link_name {
	line-height: 24px;
	width: 190px;
	padding: 5px 5px
}

#allSortOuterbox .hd_allsort_out_box_new .Menu_list .link_name a {
	font-size: 12px;
	margin-left: 5px;
	color: #FFF
}

#allSortOuterbox .hd_allsort_out_box_new .Menu_list .Menu_name {
	padding: 0 15px;
	height: 30px;
  line-height: 30px;
}

#allSortOuterbox .hd_allsort_out_box_new .Menu_list .Menu_name span.brand_title {
	color: #fff;
	float: none;
	margin-right: 10px;
  font-weight: 600;
}
#allSortOuterbox .hd_allsort_out_box_new .Menu_list .Menu_name span{

}
#allSortOuterbox .hd_allsort_out_box_new .Menu_list .name.on {

}

#allSortOuterbox .hd_allsort_out_box_new .Menu_list .Menu_name_tip {
	font-size: 12px;
	line-height: 34px;
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

#allSortOuterbox .hd_allsort_out_box_new .Menu_list .name em {
	padding: 1px 5px;
	margin-right: 10px;
	margin-left: 10px;
	height: 20px;
	width: 15px;
}

#allSortOuterbox .hd_allsort_out_box_new .Menu_list .hover_nav a,
#allSortOuterbox .hd_allsort_out_box_new .Menu_list .hover_nav .Menu_name span
{
	color: #c40000;
}

#allSortOuterbox .hd_allsort_out_box_new .Menu_list li a {
	font-size: 14px;
	color: #fff;
	position: relative
}

#allSortOuterbox .hd_allsort_out_box_new .Menu_list .left_toptip {
	width: 180px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: block;
}

#allSortOuterbox .menv_Detail {
	left: 200px;
	display: none;
	top: 0;
	padding: 10px;
	background: #FFFFFF;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	position: absolute;
	width: 600px;
	height: 384px;
	z-index: 200
}

#Menu .Category em {
	padding: 0 10px;
	top: 5px;
	position: relative;
}

#allSortOuterbox .menv_Detail .cat_pannel {
	text-align: left;
	height: 384px;
}

#allSortOuterbox .menv_Detail .cat_pannel .hd_sort_list {
	float: left;
	padding-left: 20px;
	/* margin-top: 10px; */
	margin-left: -1px;
	width: 350px;
	height: 384px;
	overflow: hidden;
	border-right: 1px solid #ddd;
	margin-right: 10px;
}

#allSortOuterbox .menv_Detail .cat_pannel .hd_sort_list dt {
	position: relative;
	float: left;
	width: 76px;
	padding: 0 6px 0 0;
	text-align: right;
	background: #dd2727;
	border-radius: 5px;
	margin-right: 10px;
}

#allSortOuterbox .index_toptip {
	width: 60px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	float: left;
	margin-left: 5px;
}

#allSortOuterbox .menv_Detail .cat_pannel .hd_sort_list dd {
	float: left;
	line-height: 18px;
	width: 250px;
	padding-bottom: 10px;
	/* border-bottom: 1px dotted #ddd; */
}

#allSortOuterbox .menv_Detail .cat_pannel .hd_sort_list dd a {
	font-size: 12px;
	border-right: 1px dotted #ddd;
	display: block;
	float: left;
	padding: 0 5px;
	margin: 3px 0;
	color: #666666;
}

#allSortOuterbox .menv_Detail .cat_pannel .hd_sort_list dd a:hover {
	color: #FF0000
}

#allSortOuterbox .menv_Detail .cat_pannel .hd_sort_list dl {
	width: 100%;
	overflow: hidden;
	line-height: 2em;
	margin: 3px 0;
}

#allSortOuterbox .menv_Detail .cat_pannel .hd_sort_list dt a {
	font-size: 12px;
	color: #ec124a;
	width: 60px;
}

#allSortOuterbox .menv_Detail .cat_pannel .hd_sort_list dt i {
	top: 0;
	right: -10px;
	width: 4px;
	height: 14px;
	margin-left: 2px;
}

#allSortOuterbox .Brands {
	width: 210px;
	float: left;
	margin-left: 10px;
}

#allSortOuterbox .Brands a.logo_Brands img {
	width: 100px;
	height: 40px;
}

#allSortOuterbox .Brands a.logo_Brands {
	display: block;
	width: 100px;
	height: 40px;
	padding: 5px 0;
	border: 1px solid #ddd;
	margin: 0 0 -1px -1px;
	float: left;
	margin-right: 100px;
}

#allSortOuterbox .Brands a.AD_3 img {
	padding: 10px 0;
	display: block
}
/*****************************************************************************/
.Navigation {
	float: left;
	height: 44px;
}

.Navigation ul li {
	float: left;
	line-height: 44px;
	position: relative;
	color: #434343;
}

.Navigation ul li .hot_icon {
	background: url(../images/indexhead_sprite.png) no-repeat right -144px;
	position: absolute;
	width: 30px;
	height: 20px;
	top: -10px;
	right: 10px
}

.Navigation ul li a {
	font-size: 16px;
	color: #434343;
	border: #fff;
	width:auto;
	line-height: 44px;
}
.Navigation ul li a:hover{
	font-size: 16px;
	/*color: #ffffff;*/
}
/*   .Navigation ul li.on {
	background: #f23131
}  */

.Navigation ul li.on a {
	color: #FFFFFF;
}
/******************************************************************/
.slogen {
	margin-top:10px;
	border-top: 1px solid #e5e5e5;
	padding: 20px 0;
	background: #fcfcfc;
}

.slogen .wrap li {
	float: left;
	color: #666;
	line-height: 30px;
	/* width: 240px; */
	width: 202px;
	margin-left:38px;
	font-size: 18px;
	margin-top: 10px;
}

.slogen .wrap li a {
	display: block;
	float: left;
	margin-right: 10px;
}

.slogen .wrap li b {
	display: block;
	font-size: 24px;
	color: #333
}

.slogen .wrap li span {
	font-size: 16px
}

.phone_style {
	background: #000;
	padding: 10px 0px;
	height: 50px;
	color: #FFF;
	line-height: 50px;
	font-size: 14px
}

.phone_style .icon-dianhua {
	font-size: 40px;
	margin-right: 5px;
}

.phone_style  .phone_title {
	line-height: 50px;
	display: block;
	float: left
}

.phone_style .phone_number {
	font-size: 36px;
	font-family: Impact;
	margin: 0px 10px;
	display: block;
	float: left
}

.footerbox dl {
	float: left;
	width: 140px;
	/* padding: 0px 50px; */
	line-height: 24px;
	margin-top: 20px;
	margin-left:97px;
}

.footerbox dl dt {
	font-size: 18px;
	font-weight: bold
}

.footerbox .text_link {
	margin-top: 10px;
	padding: 10px 0px;
	line-height: 30px;
	color: #666666;
	text-align: center;
}

.footerbox .text_link p img {
	padding: 5px;
}
.fixedBox {
	width: 0px;
	position: fixed;
	background: #333;
	height: 100%;
	_position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: 22;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.Location_link {
	margin: 10px 0px;
	line-height: 28px;
}

.Location_link em {
	display: block;
	background: url(../images/indexhead_sprite.png) right -440px;
	width: 28px;
	height: 28px;
	float: left;
	margin-right: 5px;
}
* html, * html body {
	/*background-image: url(about:blank);*/
	background-attachment: fixed;
}

* html .fixedBox {
	position: absolute;
	/*left: expression(eval(document.documentElement.scrollRight-8));*/
	/*top: expression(eval(document.documentElement.scrollTop +200));*/
}

.fixedBox ul.fixedBoxList {
	padding: 2px 0px;
	width: 30px;
	position: relative;
	right: 30px;
	background: #000;
}

.fixedBox ul.fixedBoxList li.fixeBoxLi {
	width: 30px;
	margin:  auto 0;
	text-align: center;
	position: relative;
	padding: 10px 0;
	color: #FFF;
  margin-bottom: 23px;
}
.fixedBox ul.fixedBoxList li.fixeBoxLi:first-child{
  margin-top: 250px;
}
.fixedBox ul.fixedBoxList li.fixeBoxLi:last-child{
  margin-top: 216px;
}
.fixeBoxLi_top{
  margin-top: 10px;
  display: block;
}
.fixedBoxList .fixeBoxLi{
  padding: 10px 0;
}

.fixedBox ul.fixedBoxList li.fixeBoxLi.cart_bd.hover, .fixedBox ul.fixedBoxList li.fixeBoxLi.Service.hover
{
	background: #df115e;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.fixedBox ul.fixedBoxList li.fixeBoxLi.user.hover, .fixedBox ul.fixedBoxList li.fixeBoxLi.BackToTop.hover,
.fixedBox ul.fixedBoxList li.fixeBoxLi.Home.hover {
	width: 30px;
	background: #ec2e2f;
	margin:  auto 0;
	border: 0 none;
	text-align: center;
	position: relative;
	padding: 10px 0;
  margin-bottom: 23px;
}
.fixedBox ul.fixedBoxList li.fixeBoxLi:first-child:hover{
  margin-top: 250px;
}
.fixedBox ul.fixedBoxList li.fixeBoxLi:last-child:hover{
  margin-top: 216px;
}
.fixedBox ul.fixedBoxList li p.good_cart {
	position: absolute;
	right: 0;
	top: 0;
	background: #FF0000;
	height: 15px;
	line-height: 15px;
	display: block;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	padding: 0 4px;
	overflow: hidden;
}

.fixeBoxLi .fixeBoxSpan {
	width: 30px;
	height: 30px;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

.fixeBoxLi.cart_bd .fixeBoxSpan {
	font-size: 28px
}

.fixeBoxLi.code .fixeBoxSpan {
	font-size: 28px
}

.fixeBoxLi.Service.startWork .fixeBoxSpan {
	font-size: 30px
}

.fixeBoxLi.Service.Commuting .fixeBoxSpan {
	font-size: 30px
}

.fixeBoxLi.BackToTop .fixeBoxSpan {
	font-size: 30px
}

.fixeBoxLi.Home .fixeBoxSpan {
	font-size: 22px
}

.fixeBoxLi.user .fixeBoxSpan {
	font-size: 30px
}

.fixeBoxLi.erm.fixeBoxSpan {
	font-size: 30px
}

.fixeBoxLi.user .fixeBoxSpan.hover {
	color: #fff
}

.fixeBoxLi.cart_bd  .fixeBoxSpan.hover {
	color: #fff
}

.fixeBoxLi.code .fixeBoxSpan.hover {
	color: #fff
}

.fixeBoxLi.Service.startWork .fixeBoxSpan.hover {
	color: #fff
}

.fixeBoxLi.Service.Commuting  .fixeBoxSpan.hover {
	color: #fff
}

.fixeBoxLi.BackToTop  .fixeBoxSpan.hover {
	color: #fff
}

.fixeBoxLi.Home  .fixeBoxSpan.hover {
	color: #fff
}

.fixedBox ul.fixedBoxList li.fixeBoxLi strong {
	display: block;
	padding: 0px 5px;
	text-align: center;
	line-height: 22px;
	font-weight: normal;
	cursor: pointer;
}

.fixedBox ul.fixedBoxList li.hover strong {
	color: #fff;
}

.fixedBox ul.fixedBoxList li.cart_bd .cartBox {
	position: absolute;
	left: -282px;
	top: -1px;
	z-index: 9999;
	width: 280px;
	background: #FFFFFF;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	display: none;
	border: 1px solid #d6d6d6;
}

.fixedBox ul.fixedBoxList li.code  .cartBox {
	position: absolute;
	left: -202px;
	top: -1px;
	z-index: 9999;
	width: 200px;
	height: 200px;
	background: #FFFFFF;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	display: none;
}

.fixedBox ul.fixedBoxList li.code.hover .bjfff {
	width: 10px;
	height: 62px;
	background: #fff;
	position: absolute;
	right: 0px;
	top: 0;
}

.fixedBox ul.fixedBoxList li.cart_bd.hover .cartBox {
	display: block;
}

.fixedBox ul.fixedBoxList li.hover .bjfff {
	width: 10px;
	height: 83px;
	background: #fff;
	position: absolute;
	right: 0px;
	top: 0;
}

.fixedBox ul.fixedBoxList li.hover .bjfffs {
	width: 10px;
	height: 61px;
	background: #fff;
	position: absolute;
	right: 0px;
	top: 0;
}

.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxList {
	height: 296px;
	overflow-y: auto;
	position: relative;
	z-index: 1000000;
}

.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxC ul {
	width: 256px;
	margin: 0 auto;
}

.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxC ul li {
	height: 62px;
	border-bottom: 1px solid #dcdfe4;
	padding-top: 11px;
}

.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxC ul li .p-img {
	width: 48px;
	height: 48px;
	border: 1px solid #dcdfe4;
	float: left;
	overflow: hidden;
}

.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxC ul li .p-img img
{
	width: 48px;
	height: 48px;
}

.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxC ul li .p-name {
	width: 105px;
	height: 38px;
	line-height: 19px;
	overflow: hidden;
	float: left;
	text-align: left;
	padding-left: 8px;
}

.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxC ul li .p-name a
{
	color: #666666;
}

.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxC ul li .p-detail
{
	width: 72px;
	float: right;
	text-align: left;
}

.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxC ul li .p-detail span.p-price
{
	display: block;
}

.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxC ul li .p-detail span.p-price strong
{
	color: red;
	font-weight: normal;
}

.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxC ul li .p-detail a.delete
{
	color: #999999;
}

.fixedBox ul.fixedBoxList li.cart_bd .cartBox .message {
	background: url(../images/settleup-nogoods.png) no-repeat 15px center;
	height: 92px;
	line-height: 92px;
	padding-left: 80px;
}

.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxFoot {
	height: 48px;
	line-height: 48px;
	text-align: left;
	width: 256px;
	margin: 0 auto;
}

.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxFoot span {
	float: left;
	color: #999999;
	line-height: 48px;
}

.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxFoot em {
	float: left;
	line-height: 48px;
}

.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxFoot strong {
	float: left;
	line-height: 48px;
	font-size: 12px;
	font-weight: bold;
	color: red;
}

.fixedBox ul.fixedBoxList li.cart_bd .cartBox .cartBoxFoot a#btn-payforgoods
{
	margin-top: 11px;
	float: right;
	cursor: pointer;
	width: 80px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	border: 1px solid #e46d1d;
	background: #F63;
	color: #ffffff;
	box-shadow: 1px 1px 0px #f8ccb0 inset, -1px -1px 0px #f8ccb0 inset;
	background-image: -moz-linear-gradient(top, #ffac75, #FF822F);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffac75),
	color-stop(1, #FF822F));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffac75',
	endColorstr='#FF822F', GradientType='0');
	border-radius: 2px;
	-moz-border-radius: 2px;
}

.fixedBox ul.fixedBoxList li.Service .ServiceBox {
	width: 182px;
	position: absolute;
	left: -184px;
	top: -1px;
	z-index: 9999;
	background: #FFFFFF;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	z-index: 999;
	display: none;
	border: 1px solid #d6d6d6;
}

.fixedBox ul.fixedBoxList li.Service.hover .ServiceBox {
	display: block;
}

.fixedBox ul.fixedBoxList li.Service .ServiceBox dl {
	height: 85px;
	width: 162px;
	margin: 0 auto;
	padding-top: 10px;
	border-bottom: 1px solid #d6d6d6;
}

.fixedBox ul.fixedBoxList li.Service .ServiceBox dl dt {
	float: left;
	width: 71px;
	height: 71px;
	padding: 1px;
	border: 1px solid #e1e2e3;
}

.fixedBox ul.fixedBoxList li.Service .ServiceBox dl dd {
	width: 80px;
	float: right;
	text-align: left;
}

.fixedBox ul.fixedBoxList li.Service .ServiceBox dl dd strong {
	height: 20px;
	line-height: 20px;
	font-weight: bold;
	color: #333333;
}

.fixedBox ul.fixedBoxList li.Service .ServiceBox dl dd p.p1 {
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	color: #666666;
}

.fixedBox ul.fixedBoxList li.Service .ServiceBox dl dd p.p2 {
	height: 24px;
	padding-top: 10px;
}

.fixedBox ul.fixedBoxList li.Service .ServiceBox dl dd p.p2 a {
	cursor: pointer;
	display: block;
	width: 70px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	border: 1px solid #d8d8d8;
	background: #f4f4f4;
	color: #333333;
	background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff),
	color-stop(1, #f2f2f2));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
	endColorstr='#f2f2f2');
}
.sell_style {
	height: 80px;
	margin: 20px 0px;
}

.sell_style .sell {
	width: 350px;
	border: 1px solid #ddd;
	padding: 5px;
	position: relative;
	float: left;
	margin-left: 30px;
	color: #999;
	line-height: 20px;
}

.sell_style .sell .left_sell {
	float: left;
}

.sell_style .sell .left_sell h2 {
	color: #F60;
	margin-left: 50px;
	margin-right: 20px;
}

.sell_style .sell .left_sell h3 {
	font-size: 12px;
	margin-left: 50px;
	margin-right: 20px;
}

.sell_style .sell .left_sell .icon-dianhua {
	position: absolute;
	left: 10px;
	font-size: 35px;
	top: 15px;
	color: #b6b6b6
}

.sell_style .sell .right_sell {
	float: left;
	background-image: url(../images/indexhead_sprite.png);
	background-position: -240px -464px;
	padding-left: 20px;
	background-repeat: no-repeat
}

.sell_style .sell .right_sell b {
	color: #F60
}

.wrapper_top {
	width: 1200px;
	margin: 0 auto;
}

.nch-breadcrumb {
	font-size: 0;
	*word-spacing: -1px /*IE6��7*/;
	text-align: left;
	height: 0px;
	padding: 10px 0;
	margin: 0 auto;
}

.nch-breadcrumb span {
	font-size: 14px;
	line-height: 20px;
	color: #999;
	letter-spacing: normal;
	word-spacing: normal;
	display: inline-block;
	*display: inline /* IE6,7*/;
	height: 20px;
	zoom: 1;
}

#phoneback_page .product_r_map {
	width: 1200px;
	line-height: 40px;
	height: 40px;
	margin-top: 15px;
	background: #F5F5F5 none repeat scroll 0% 0%;
	border: 1px solid #E5E5E5;
	text-align: left;
	padding-left: 10px;
}

#phoneback_page .font_color {
	color: #666;
	font-size: 14px;
}

#phoneback_page .stepflex dl {
	float: left;
	position: relative;
	width: 200px;
	top: -5px;
	border-top: 5px solid #CCC;
}

#phoneback_page .stepflex .s-num {
	position: relative;
	margin: -15px auto 0px;
	color: #FFF;
	font-weight: 700;
	width: 23px;
	height: 23px;
	background-image: url("../images/step2013.png");
	line-height: 23px;
	padding-left: 7px;
}

#phoneback_page .goods-y {
	color: #FA9438;
	text-align: center;
	font-size: 14px;
}
#phoneback_page .ml {
	margin-left: 20px;
}
#phoneback_page .goods-button{ width: 100px; height: 30px; border: 1px solid #dbdcdd; padding: 10px 14px; background: #edeeef;border-radius: 4px;}
#phoneback_page .goods-button:hover{opacity:0.8;  color:#666 }
#phoneback_page .goods-z a{ color:#389ce6}
.Input_box{ width: 80px;}

#phoneback_page .goods-x {
	color: #ccc;
	text-align: center;
}

#phoneback_page .stepflex .done s {
	background-position: -46px -24px;
}

#phoneback_page .stepflex .done b {
	background-position: -51px -24px;
}

#phoneback_page .stepflex dl.doing {
	border-top-color: #FF7900;
}

#phoneback_page .font_color {
	color: #666;
	font-size: 14px;
	text-align: center;
}

#phoneback_page .goods-h {
	color: #FD0303;
}

#phoneback_page .mb20 {
	margin-bottom: 20px;
}

#phoneback_page .account_info ul.info_list li input.nickname {
	outline: medium none;
	width: 168px;
	padding: 5px;
	height: 28px;
	font-family: "΢���ź�";
	border: 1px solid #E5E5E5;
	color: #999
}

#phoneback_page .pl20 {
	padding-left: 73px;
	line-height: 30px;
}

#phoneback_page .button_ys {
	width: 168px;
	border: medium none;
	float: right;
	color: #FE8415;
	padding: 4px 8px;
	border-radius: 4px;
	text-align: center;
	background: #FE8415 none repeat scroll 0% 0%;
	margin-left: 49px;
	color: #fff;
	padding: 6px 6px;
	margin-bottom: 100px;
}

#phoneback_page .button_ys:hover {
	opacity: 0.8;
}

#phoneback_page .stepflex {
	margin-left: 220px;
}

#phoneback_page .account_info {
	margin-left: 200px;
	margin-top: 60px;
}

#phoneback_page .fance {
	color: #FE8415;
	width: 339px;
	text-align: center;
	line-height: 73px;
}

a{
	color: #666;
}
.hd_Shopping_list .s_cart{
  width: 160px;
  cursor: pointer;
}

.hd_Shopping_list .s_cart em {
	color: #f53737;
	font-size: 19px;
	display: block;
	float: left;
	width: 30px;
	height: 25px;
	margin-right: 5px;
	margin-top: -3px;
	/* margin-top: 5px; */
}
.hd_Shopping_list .s_cart .s_cart_num{
  color: #e8000e;
}

/* 新加入样式 */
.Navigation ul li a:hover{
	color: #ffffff;
}
